<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
	http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	
	<jsp-config>
		<!-- jsp-property-group을 통해 정의한 순서대로 적용된다. -->
	
		<jsp-property-group>
			<url-pattern>/view/*</url-pattern>
			<include-prelude>/common/variable.jspf</include-prelude>
			<include-coda>/common/footer.jspf</include-coda>
		</jsp-property-group>
		
		<!--
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>URL...</include-prelude>
			<include-coda>URL...</include-coda>
		</jsp-property-group>
		-->
	</jsp-config>
	
</web-app>